/* GLOBAL */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.App {
  background-color: #333333;
  width: 550px;
  min-height: 600px;
  margin: 20px auto;
  border-radius: 10px;
  position: relative;
}

/* HEADER */
#todo-list-form input {
  background-color: #02A4A8;
  color: #ffffff;
  font-size: large;
  margin: 20px 20px 20px 20px;
  padding: 20px;
  width: 390px;
  height: 50px;
  border: 0;
  border-radius: 10px;
}

#todo-list-form input::placeholder {
  color: rgb(255, 255, 255, 0.6);
  font-size: large;
}

#todo-list-form input:focus,
#todo-list-form button:focus {
  outline: none;
}

#todo-list-form .add {
  background-color: #F2CD5E;
  /* background-color: #D9AE89; */
  color: #333333;
  font-size: large;
  font-weight: bolder;
  margin-right: 20px;
  width: 100px;
  height: 50px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

/* MAIN */
.main {
  height: 100%;
  min-height: 400px;
}
